{% extends "layout.html"%}
{% block content %}
{{ super() }}
<section id="likes">
<div class="col-md-8 col-md-offset-2 col-xs-12">
   <div class="panel panel-default">
<!-- panel contents -->
<div class="panel-heading"><b>目录</b></div>

<!-- Table -->
<div class="table-responsive">
<table class="table table-hover">
   <thead>
      <tr><th>Subject</th><th>Description</th><th>Create time</th><th>Modify time</th></tr>
   </thead>
   <tbody>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='python-cs') }}">Python Basic</a>
         </td>
         <td>Python 基础</td>
         <td>2015/1/21</td>
         <td>2015/1/22</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='python-iter-cs') }}">Python Iterator</a>
         </td>
         <td>Python 控制结构</td>
         <td>2015/1/23</td>
         <td>2015/1/23</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='python-gen-cs') }}">Python Generator</a>
         </td>
         <td>Python 生成器</td>
         <td>2015/1/30</td>
         <td>2015/1/30</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='python-metaprogramming') }}">Python Metaprogramming</a>
         </td>
         <td>Python 元编程</td>
         <td>2015/2/4</td>
         <td>2015/2/5</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='python-network-cs') }}">Python Socket</a>
         </td>
         <td>Python 网络编程</td>
         <td>2015/2/21</td>
         <td>2015/2/21</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='python-concurrency-cs') }}">Python Concurrency</a>
         </td>
         <td>Python 并发</td>
         <td>2015/2/26</td>
         <td>2015/2/28</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='python-daemon-cs') }}">Python Daemon</a>
         </td>
         <td>Python demo</td>
         <td>2015/3/2</td>
         <td>2015/3/2</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='python-test-cs') }}">Python Test</a>
         </td>
         <td>Python 测试</td>
         <td>2015/3/5</td>
         <td>2015/3/6</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='python-sqlalchemy') }}">Python Sqlalchemy</a>
         </td>
         <td>Python 数据库模块sqlalchemy</td>
         <td>2015/3/11</td>
         <td>2015/3/13</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='python-pattern-in-c') }}">Python Style in C</a>
         </td>
         <td>Python c设计模式</td>
         <td>2015/4/2</td>
         <td>2015/4/2</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='cpp-basic-cs') }}">C++ Basic</a>
         </td>
         <td>C++ 基础</td>
         <td>2015/4/11</td>
         <td>2015/4/15</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='git-cs') }}">Git Basic</a>
         </td>
         <td>GIT</td>
         <td>2015/4/16</td>
         <td>2015/4/18</td>
      </tr>
      <tr>
         <td>
            <a href="{{ url_for('cheatsheet.get_cheatsheet', page='gnu-autotool-cs') }}">GNU Autotool</a>
         </td>
         <td>GNU 自动工具</td>
         <td>2015/5/3</td>
         <td>2015/5/8</td>
      </tr>
   </tbody>
</table>
</div>
   </div> <!-- ./panel -->
</div>
</section>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}

